<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boom - Busca</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="custom.css">
        <script src="busca.js"></script>
        <script src="login.js"></script>
        <script src="esqueci.js"></script>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Boom" />
        <meta name="description" content="Boom - Onde você encontra a diversão que você procura, no preço justo e o mais próximo possível" />
        <meta name="keywords" content="boom, diversão, entretenimento, na faixa" />
        <meta property="og:url" content="//localhost/Boom/" />
        <meta property="og:title" content="Boom | Onde a diversão não estoura o bolso" />
        <meta property="og:description" content="Boom - Onde você encontra a diversão que você procura, no preço justo e o mais próximo possível" />
        <meta property="og:image" content="/favicon-360x360.png" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="shortcut icon" href="/favicon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="36x36" href="/android-icon-36x36.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/android-icon-48x48.png" />
        <link rel="icon" type="image/png" sizes="72x72" href="/android-icon-72x72.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/android-icon-144x144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#000000" />

    </head>
    <body>

        <!-- Inicio da Barra de Navegação -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <!-- Botão para utilizar em resposividade -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#BarraDeNavegacao">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo do Site -->
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo"></a>
                    <div class="nomeLogo">Boom</div>

                    <div class="mobile navbar-toggle float-right" style="margin-right: 3.5%;">
                        <div class="desktop-hide linkBranco">
                            <a href="#search"><span class="glyphicon glyphicon-search"></span></a>                  
                        </div>
                    </div>

                    <div class="mobile navbar-toggle float-right">
                        <div class="desktop-hide linkBranco">
                            <a href="#login"><span class="glyphicon glyphicon-user"></span></a>                     
                        </div>
                    </div>

                </div>

                <div class="collapse navbar-collapse" id="BarraDeNavegacao">
                    <!-- Categorias da Barra de Navegação -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="cultural.html">Partiu Rolê</a></li>
                        <li><a href="cultural.html">Descontração</a></li>
                        <li><a href="cultural.html">Em Movimento</a></li>
                        <li><a href="cultural.html">Na Faixa</a></li>
                        <li><a href="cultural.html">Geek</a></li>
                        <li><a href="cultural.html">Cultural</a></li>
                        <li class="mobile-hide"><a href="#login"><span class="glyphicon glyphicon-user"></span></a></li>                    
                        <li class="mobile-hide"><a href="#search"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                    <!-- Fim das Categorias da Barra de Navegação -->

                </div>
                <!-- Fim da Div Container -->
        </nav>


        <div id="search">
            <div class="close">×</div>
            <form>
                <input type="search" value="" placeholder="digite aqui ..." />
                <div class="linkBranco">
                    <a type="submit">procurar</a>
                </div>
            </form>
        </div>

        <div id="login">
            <div class="close">×</div>
            <form>
                <div class="login">login</div>
                <label for="email">usuário:</label>
                <input type="email" value="" id="email" placeholder="exemplo@exemplo.com.br" required /><br/>

                <label for="senha">senha:</label><br/>
                <input type="password" id="senha" required placeholder="********" /><br/>
                <div class="linkBranco">
                    <a type="submit">entrar</a><br/><br/>
                    <a href="cadastrousuario.html">não é cadastrado? cadastre-se aqui!</a><br/><br/>
                    <a href="#esqueci">esqueceu sua senha? clique aqui</a>
                </div>
            </form>
        </div>


        <div id="esqueci">
            <div class="close">×</div>
            <form>
                <div class="esqueci">esqueci minha senha</div>
                <label for="email">email:</label>
                <input type="email" value="" id="email" placeholder="exemplo@exemplo.com.br" required /><br/>

                <div class="linkBranco">
                    <a type="submit">reenviar senha</a><br/><br/>
                </div>
            </form>
        </div>        
        <!-- Fim da Barra de Navegação -->
        <!-- Inicio do conteudo -->
        <div>
            <ol class="breadcrumb corPadrao" style="margin: 0px;">
                <li><a href="index.html">Boom</a></li>
                <li class="active" style="color: #FFF">Busca</li>
            </ol>
        </div>
        <div class="container-fluid">

            <!-- Titulo da seção -->

            <div class="page-header">
                <h1>Busca por:<small> cultura</small></h1>
            </div>

            <!-- Fim Titulo da seção -->



            <form class="navbar-form" role="search" style="padding-left: -15px !important">

                <div class="form-group">
                    <select class="form-control">
                        <option value="">Ordernar por:</option>
                        <option value="date">Data de postagem</option>
                        <option value="popularity">Popularidade</option>
                        <option value="like_count">Total de curtidas</option>
                        <option value="comment_count">Total de comentários</option>
                    </select>
                </div>


                <div class="form-group">
                    <!-- add datepicker -->
                    <input type="text" class="form-control" name="start_date" placeholder="Data de ínicio" style="width:150px">
                </div>

                <div class="form-group">
                    <!-- add datepicker -->
                    <input type="text" class="form-control" name="end_date" placeholder="Data de término" style="width:150px">
                </div>

                <div class="form-group">
                    <select name="popularity" class="form-control">
                        <option value="DESC">Itens recentes primeiro</option>
                        <option value="ASC">Itens antigos primeiro</option>
                    </select>
                </div>



                <button type="submit" id="btn-filter-pending" class="btn btn-default">Atualizar</button>
            </form>





            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/teatro02-700x400.jpg" alt="Teatro Municipal">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Temporada 2018 Theatro Municipal</h3>
                            <p>A Orquestra Sinfônica Municipal – OSM – encontra o Coro Lírico, o Coral Paulistano, o Quarteto de Cordas, e solistas e maestros convidados em grandes repertórios da música de concerto.</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>  



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/ballet02-700x400.jpg" alt="Dança Contemporânea">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Mostra Dança Contemporânea</h3>
                            <p>A dança é uma das ações e atividades mais desenvolvidas pelos seres humanos assim como uma das mais antigas, ou melhor, é praticada desde o início da civilização humana, um dos melhores...</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/street-art0-700x400.jpg" alt="Street Art">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Street Art invade as galerias nessa semana</h3>
                            <p>A Arte Urbana (street art, em inglês) designa uma arte encontrada nos meios urbanos, seja por meio de intervenções, performances artísticas, grafite, dentre outras.
                                Note que essa manifestação artística pública que interage... </p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/teatro02-700x400.jpg" alt="Teatro Municipal">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Temporada 2018 Theatro Municipal</h3>
                            <p>A Orquestra Sinfônica Municipal – OSM – encontra o Coro Lírico, o Coral Paulistano, o Quarteto de Cordas, e solistas e maestros convidados em grandes repertórios da música de concerto.</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/ballet02-700x400.jpg" alt="Dança Contemporânea">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Mostra Dança Contemporânea</h3>
                            <p>A dança é uma das ações e atividades mais desenvolvidas pelos seres humanos assim como uma das mais antigas, ou melhor, é praticada desde o início da civilização humana, um dos melhores...</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/street-art0-700x400.jpg" alt="Street Art">
                        <div class="corCultural" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Street Art invade as galerias nessa semana</h3>
                            <p>A Arte Urbana (street art, em inglês) designa uma arte encontrada nos meios urbanos, seja por meio de intervenções, performances artísticas, grafite, dentre outras.
                                Note que essa manifestação artística pública que interage... </p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Fim do conteudo -->

            <!-- Footer -->
            <footer>
                <div>
                    <p class="text-center text-white">Boom &copy; Bandtec 2017</p>
                </div>
            </footer>
            <!-- Fim Footer -->

    </body>

</html>
