<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boom - Partiu Rolê</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="custom.css">
        <script src="busca.js"></script>
        <script src="login.js"></script>
        <script src="esqueci.js"></script>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Boom" />
        <meta name="description" content="Boom - Onde você encontra a diversão que você procura, no preço justo e o mais próximo possível" />
        <meta name="keywords" content="boom, diversão, entretenimento, na faixa" />
        <meta property="og:url" content="http://booom.azurewebsites.net/" />
        <meta property="og:title" content="Boom | Onde a diversão não estoura o bolso" />
        <meta property="og:description" content="Boom - Onde você encontra a diversão que você procura, no preço justo e o mais próximo possível" />
        <meta property="og:image" content="/favicon-360x360.png" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="shortcut icon" href="/favicon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="36x36" href="/android-icon-36x36.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/android-icon-48x48.png" />
        <link rel="icon" type="image/png" sizes="72x72" href="/android-icon-72x72.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/android-icon-144x144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ff4d4d" />

    </head>
    <body>

        <!-- Inicio da Barra de Navegação -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <!-- Botão para utilizar em resposividade -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#BarraDeNavegacao">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo do Site -->
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo"></a>
                    <div class="nomeLogo">Boom</div>

                    <div class="mobile navbar-toggle float-right" style="margin-right: 3.5%;">
                        <div class="desktop-hide linkBranco">
                            <a href="#search"><span class="glyphicon glyphicon-search"></span></a>                  
                        </div>
                    </div>

                    <div class="mobile navbar-toggle float-right">
                        <div class="desktop-hide linkBranco">
                            <a href="#login"><span class="glyphicon glyphicon-user"></span></a>                     
                        </div>
                    </div>

                </div>

                <div class="collapse navbar-collapse" id="BarraDeNavegacao">
                    <!-- Categorias da Barra de Navegação -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="partiurole.html">Partiu Rolê</a></li>
                        <li><a href="descontracao.html">Descontração</a></li>
                        <li><a href="emmovimento.html">Em Movimento</a></li>
                        <li><a href="nafaixa.html">Na Faixa</a></li>
                        <li><a href="geek.html">Geek</a></li>
                        <li><a href="cultural.html">Cultural</a></li>
                        <li class="mobile-hide"><a href="#login"><span class="glyphicon glyphicon-user"></span></a></li>                    
                        <li class="mobile-hide"><a href="#search"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                    <!-- Fim das Categorias da Barra de Navegação -->

                </div>
                <!-- Fim da Div Container -->
        </nav>


        <div id="search">
            <div class="close">×</div>
            <form>
                <input type="search" value="" placeholder="digite aqui ..." />
                <div class="linkBranco">
                    <a type="submit">procurar</a>
                </div>
            </form>
        </div>

        <div id="login">
            <div class="close">×</div>
            <form>
                <div class="login">login</div>
                <label for="email">usuário:</label>
                <input type="email" value="" id="email" placeholder="exemplo@exemplo.com.br" required /><br/>

                <label for="senha">senha:</label><br/>
                <input type="password" id="senha" required placeholder="********" /><br/>
                <div class="linkBranco">
                    <a type="submit">entrar</a><br/><br/>
                    <a href="cadastrousuario.html">não é cadastrado? cadastre-se aqui!</a><br/><br/>
                    <a href="#esqueci">esqueceu sua senha? clique aqui</a>
                </div>
            </form>
        </div>


        <div id="esqueci">
            <div class="close">×</div>
            <form>
                <div class="esqueci">esqueci minha senha</div>
                <label for="email">email:</label>
                <input type="email" value="" id="email" placeholder="exemplo@exemplo.com.br" required /><br/>

                <div class="linkBranco">
                    <a type="submit">reenviar senha</a><br/><br/>
                </div>
            </form>
        </div>        
        <!-- Fim da Barra de Navegação -->
        <!-- Inicio do conteudo -->
        <div>
            <ol class="breadcrumb corPartiuRole">
                <li><a href="index.html" style="color: #000000">Boom</a></li>
                <li class="active">Partiu Rolê</li>
            </ol>
        </div>
        <div class="container-fluid">

            <!-- Titulo da seção -->

            <div class="page-header">
                <h1>Partiu Rolê<small> - Galera, energia, curtir a vida sempre!</small></h1>
            </div>

            <!-- Fim Titulo da seção -->

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role001.jpg" alt="Festa de final de ano">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Festa da Virada 2017/2018</h3>
                            <p>Pense em uma virada de ano super top, em um ambiente lindo, charmoso e sofisticado, com um público selecionado, vista privilegiada dos fogos da cidade... </p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>  



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role002.jpg" alt="Balada Eletrônica">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Festivais de Música Eletrônica 2018</h3>
                            <p>O ano de 2018 promete muitos festivais de música, inclusive com foco no eletrônico, e raves! Para ficar por dentro de todos os eventos que vão acontecer acompanhe nossas postagens.</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role003.jpg" alt="Banda de hip-hop">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Encontro de Hip Hop nessa semana</h3>
                            <p>Veja onde curtir o melhor do rap e do hip hop. Batalha de hip hop, rapper, street dance, festa, show, oficina, festival, MC´s. Na onda dos festivais de música em São Paulo, o rap ganhou seu espaço. O Festival Sons da Rua vai trazer ninguém menos que...</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role004.jpg" alt="Cantor de Funk">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Fluxo dos Bailes Funk de Rua</h3>
                            <p>DOMINGO TEM ROLE TODAS AS KEBRADA DNV VAMO COLA GERAL AS 15:00 ENCONTRO MSM LOCAL RUA DO FLUXO!! COMPARTILHEM DPS BAILE NO FERRO VELHO</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role005.jpg" alt="Show de Rock">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Shows internacionais no Brasil em 2018</h3>
                            <p>A programação com todas as atrações dos festivais de música que acontecem em 2018 no Brasil, Chile e na Argentina. Na extensa line-up o destaque são as bandas de rock Red Hot Chili Peppers, Pearl Jam e The Killers, que encabeçam a lista de ...</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/01_partiu_role/role006.jpg" alt="Plateia de show">
                        <div class="corPartiuRole" style="height: 5px"></div>
                        <div class="caption">
                            <h3>Demon Hunter vem ao Brasil em 2018</h3>
                            <p>O Demon Hunter retorna ao Brasil em Janeiro de 2018 para cinco shows, sendo nos dias 24 (São Paulo), 25 (Curitiba), 26 (Belo Horizonte), 27 (Recife) e 28 (Rio de Janeiro). A banda tocou pela primeira vez em nosso país em 2013 e nesse retorno, eles trazem a turnê do novo álbum Outlive, lançado em ...</p>
                            <p><a href="post_cultural.html" class="">Mais detalhes</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Fim do conteudo -->

            <!-- Footer -->
            <footer>
                <div>
                    <p class="text-center text-white">Boom &copy; Bandtec 2017</p>
                </div>
            </footer>
            <!-- Fim Footer -->

    </body>

</html>
